{% extends "product/base.html" %}

{% block content %}

    {% if validlink %}
        <p class="reset-confirm">Пожалуйста, введите (и подтвердите) новый пароль.</p>
        <form class="reset-confirm" action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новыый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить мой пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
    <h1 class="reset-confirm">Не удалось сбросить пароль</h1>
    <p class="reset-confirm">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля.</p>
    {% endif %}

{% endblock %}