@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}
.youtube a:hover {background: #c4302b; color: #fff;}
.twitter a:hover {background: #00acee; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.skype a:hover {background: #00aff0; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}


html {
    height: 100%;
  }

body {
    margin:0;
    font-family:"Open Sans", Verdana, Tahoma, Arial, Helvetica, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* navbar */
.navbar {
    font-weight: 800;
}

.carticon {
    padding: 6px;
}

.logo {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 24px;
}

.nav-item-user {
    color: #fff;
    padding: auto;
}

.nav-link {
    color: #fff;
}

.container {
    margin:auto;
}

/* category-list and subcategory-list */
h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 85px;
    text-align: center;
}

.block-category,
.block-subcategory {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

.block-category div,
.block-subcategory div {
    position: relative;
}

.block-category div::after,
.block-subcategory div::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}
    
.block-category div:hover:after,
.block-subcategory div:hover:after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
}

.category-image img,
.subcategory-image img {
    width:100px;
    height: 100px;
    float: left;
}

.category-title a,
.subcategory-title a {
    font-size: 20px;
    font-weight: 400;
    color:#6e57d4;
    float:right;
    text-decoration: none;
}

.category-title a:hover,
.subcategory-title a:hover {
    color: #f66d52;
    text-decoration: none;
}

.brand-image {
    border-radius: 10px;
    border-style: double;
    border-width: 6px;
    border-color:#aa9af0;
    margin:10px;
    overflow: hidden;
}

.brand-image img {
    width: 170px;
    height: 100px;
    padding: 10px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    transition: transform 0.25s;
}

.brand-image img:hover {
    transform: scale(1.1);
}

/* footer */
footer {
    color:#fff;
    width: 100%;
    background-size: 100%;
}

footer .link-secondary {
    color:#fff;
    text-decoration: none;
}

footer .link-secondary:hover {
    text-decoration: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f66d52' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f66d52' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev {
    justify-content: left;
    width: 5%;
}

.carousel-control-next {
    justify-content: right;
    width: 5%;
}

/* product-list */

.card img{
    height: 165px;
    width: 165px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

.product-header {
    overflow: hidden;
    height: 74px;
}

.card-body h5{
    color:black;
    font-size: 20px
}

.card-body a{
    text-decoration: none;
}

.btn-primary{
    background-color: rgb(90, 32, 226);
    width: 100%;
}

/* product-detail */

.product-title-header {
    margin-left: 10px;
    text-align: left;
}

.product-page-info {
    display: flex;
}

.product-brand {
    margin-left: 10px;
    margin-bottom: 10px;
}

.photo-brand {
    width: 100px;
    height: 50px;
}

figure {
    width: 300px;
    height: 320px;
    margin: 25px auto;
    overflow: hidden; 
    min-width: 600px;
    text-align: center;
}

.productphoto {
    height: 350px;
    margin-left:auto;
    margin-right: auto;
    /* margin: auto; */
}


.product-info-guaranty {
    margin:15px 0px;
    font-size: 20px;
}

.prouct-info-avialable-stock {
    margin: 8px 0px;
    font-size: 20px;
    color:rgb(16, 153, 69);
}

.product-info-avialable-list {
    margin-bottom: 10px;
    font-size: 20px;
}

.product-detail-button {
    margin-top: 20px;
    width: 100%;
}

.add-review {
    width: auto;
    margin: auto;
    display: block;
    width: 25%;
}

.comments {
    border:#000;
    border-width: 5px;
    border-style: double;
    border-radius: 20px;
    padding: 15px;
}

.comments h5{
    font-size: 25px;
}

.comments p {
    font-size: 19px;
}

.parent-comment {
    border-bottom: 3px solid #000;
    padding: 15px 0px;
}

.parent-comment a{
    text-decoration: none;
    color:rgb(90, 32, 226);
    font-size: 15px;
}

.children-comment {
    margin-left: 20px;
}

/* login */
.login {
    margin:auto;
    padding: auto;
}

input[type=password] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

.login label {
    margin: 10px 15px 10px 0;
}

.login-button {
    margin: 10px 0;
}

/* logged_out */
.logout {
    margin:auto;
    padding: auto;
}

.logout-button {
    display: block;
    margin: auto;
    padding: auto;
    text-decoration: none;
    color:rgb(90, 32, 226);
}

/* reset-form */
.reset-form {
    margin:auto;
    padding: auto;
}

.reset-form span {
    display: block;
    margin: 15px 0;
}

/* reset-done */
.reset-done {
    margin:auto;
    padding: 0 15px;
}

/* reset-confirm */
.reset-confirm {
    margin:auto;
    padding: 20px 10px;
}

.reset-confirm label {
    display: block;
    margin: 10px 10px;
}

/* reset-complete */
.reset-complete {
    margin:auto;
    padding: auto;
}

.reset-complete a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color:rgb(90, 32, 226);
}

/* register */
.register-form {
    margin: auto;
    padding: auto;
}

.register-form label {
    display: block;
    margin: 10px 0;
}

.register-form span {
    display: block;
    margin: 10px 0;
}

.register-button {
    width: 30%;
}

/* register-done */
.register-done {
    margin: auto;
    padding: auto;
} 

.register-done-button {
    text-decoration: none;
    color:rgb(90, 32, 226);
} 

/* editprofile */
.editprofile {
    margin: auto;
    padding: auto;
}

.editprofile label {
    display: block;
    margin: 10px 0;
}

.editprofile input{
    display: block;
    margin: 10px 0;
}

input[type=text] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

input[type=email] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

textarea {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
    height:150px;
}

.editprofile-button {
    width: 30%;
}

/* Checkbox stars */
.addrating {
    margin-left: 10px;
    margin-bottom: 20px;
}

.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../image/star-off.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../image/star-on.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}

/* Wishlist */
.wishlist-button {
    margin-top: 20px;
    width: 100%;
}

.add-wishlist-button {
    margin-top: 20px;
}

/* Ordercheck */
.order {
    margin: 20px;
    padding: 20px;
}

.order-form label {
    display: block;

}

select {
    width: 180px;
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

input[type=date] {
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

.order-button {
    width: 20%;
    margin: 20px 0;
}


/* pagination */
.pagination {
    padding: 20px 0;
    margin: auto;
    justify-content: center;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}

.list-pages ul {
	margin: 20px 0 0 0;
	list-style: none;
}

.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}

.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding: 10px 0 10px 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.list-pages .page-num {
    box-shadow:0 0 15px 4px rgba(70, 8, 214, 0.74);
}

.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0; 
}

.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}

.list-pages .page-num-selected:hover {
	box-shadow: none; 
}

/* errors */

.error-text {
    font-weight: 400;
    text-align: center;
}

.error-name {
    font-size: 30px;
}

.error-explanation {
    font-size: 24px;
}

.error-return {
    text-decoration: none !important;
}