{% block footer %}
<footer class="text-center pt-4 mt-md-4 pt-md-5 border-top bg-dark">
  <div class="row">
    <div class="col-12 col-md">
      <h5>ShopMusic</h5>
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'home' %}" class="link-secondary">Главная страница</a>
        <li></li>
        <li><a href="{% url 'login' %}" class="link-secondary">Войти</a>
        <li></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <div class="social github">
        <a href="#" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </div>
      <div class="social youtube">
        <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
      </div>
      <div class="social twitter">
        <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      </div>
      <div class="social instagram">
        <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      </div>
      <div class="social facebook">
        <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      </div>
      <div class="social skype">
        <a href="#" target="_blank"><i class="fa fa-skype fa-2x"></i></a>
      </div>
      <div class="social vk">
        <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
      </div>
    </div>
    <div class="col-6 col-md">
      <div class="section">
      <span class="text-footer">© 2022–2022 ShopMusic by Niolum.</span>
      </div>
      <div class="section">
      <span class="text-footer-tagline">Sound, Music and your Hobby.</span>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}